{% extends 'questions/question_action_layout.html.twig' %}

{% block title %}Создание вопроса{% endblock %}

{% block section_title %}Создание вопроса{% endblock %}

{% block main_info %}

    {{ form_start(form, {
        'action': path('question.create'),
        'method': 'POST',
        'attr': {novalidate:'novalidate'}
    }) }}
    {# render the task's only field: description #}
    {{ form_row(form.text) }}

    <div class="form-group">
        <label class="form-control-label required">Список ответов</label>
    </div>
    <div class="form-group">
        <ul class="answers" data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}">
            {% for answer in form.answers %}
                <li>{{ form_row(answer.text) }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        {{ form_widget(form.save, {
            'attr': {'class': 'btn btn-success'},
        }) }}
    </div>
{% endblock %}

{% block answers %}
    {#{{ form_label(form.answers) }}
    {{ form_errors(form.answers) }}

    <ul id="answer-fields-list"
        class="tags"
        data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}">
    </ul>
    <div class="form-group">
    <a href="#"
       class="add-another-collection-widget"
       data-list="#answer-fields-list">Add another answer</a>
    </div>
    <div class="form-group">
    {{ form_widget(form.save, {
        'attr': {'class': 'btn btn-success'},
    }) }}
    </div>
    {{ form_end(form) }}#}
{% endblock %}