<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('build/css/navbar.css') }}">
            <link rel="stylesheet" href="{{ asset('build/css/footer.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="container">
                            <!-- Brand и toggle сгруппированы для лучшего отображения на мобильных дисплеях -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">Vectarin.by</a>
                            </div>

                            <!-- Соберите навигационные ссылки, формы, и другой контент для переключения -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    {% block buttons %}
                                        {% block btn_quizzes %}
                                            <li><a href="{{ path('quizzes.show') }}">Викторины</a></li>
                                        {% endblock %}

                                <!-- Соберите навигационные ссылки, формы, и другой контент для переключения -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        {% block buttons %}
                                            {% block btn_quizzes %}
                                                <li><a href="{{ path('quiz.show') }}">Викторины</a></li>
                                            {% endblock %}

                                            {% block btn_my_quizzes %}
                                                <li><a href="{{ path('quizzes.user.show') }}">Мои викторины</a></li>
                                            {% endblock %}

                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                                            {% block btn_questions %}
                                                <li><a href="{{ path('questions') }}">Вопросы</a></li>
                                            {% endblock %}
                                            {% block btn_users %}
                                                <li><a href="{{ path('users') }}">Пользователи</a></li>
                                            {% endblock %}

                                        {% endif %}
                                    {% endblock %}
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                                                {% block user_name %}
                                                    {{ app.user.username }}
                                                {% endblock %}

                                            {% endif %}
                                        <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                                                {% block btn_exit %}
                                                    <li><a href="{{ path('logout') }}">Выйти</a> </li>
                                                {% endblock %}

                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div>
                    </div><!-- /.container-fluid -->
                </nav>
            {% endblock %}
        </header>
        <div id="content">
            {% block body %}
                <div class="container">
                                               
                        <h3>
                            {% block section_title %}
                            {% endblock %}
                        </h3>
                        <div class="panel">
                            {% block section_content %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
            <footer class="footer">
                <div class="container">
                    <span class="text-muted">Created by <a href="https://github.com/allofapiece">allofapiece</a> & <a href="https://github.com/graschik">graschik</a></span>
                </div>
            </footer>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Created by <a href="https://github.com/allofapiece">allofapiece</a> & <a href="https://github.com/graschik">graschik</a></span>
        </div>
    </footer>
</html>
